:root {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #133027;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

header,
footer {
  padding: 2rem 5rem;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  justify-content: space-between;
}

body {
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 200px);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
  text-transform: capitalize;
}

h2 {
  padding: 0.5rem;
  margin-top: 2rem;
  text-transform: capitalize;
}

h3 {
  font-size: 0.8rem;
  padding: 0 0 1rem 0;
}

.seemore {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.seemore:hover {
  text-decoration: underline;
}

.datalikes {
  margin: 0.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  font-weight: 300;
  font-size: 1.2rem;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover {
  color: rgb(149, 169, 149);
}

li a.active {
  color: rgb(174, 196, 174);
  border-bottom: 1px solid rgb(174, 196, 174);
}

.logo {
  text-decoration: none;
  color: white;
}

.fox,
.owl {
  height: 700px;
  margin: 3rem;
  border-radius: 5px;
}

.search {
  margin: 3rem;
  width: 200px;
  padding: 0.5rem;
  background-color: #8eab95;
  border-radius: 3px;
  filter: saturate(50%);
  border: none;
  font-size: 0.9rem;
}

.search:hover {
  filter: none;
}

.search:focus {
  border: 2px solid #133027;
}

::placeholder {
  font-family: inherit;
  font-size: 0.8rem;
  font-style: italic;
  color: rgba(255, 255, 255, 0.811);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.card {
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 200px;
  background-color: #abc6b1;
  border-radius: 3px;
  filter: saturate(60%);
  box-shadow: 1.5px 1.5px 3px rgba(43, 3, 36, 0.807);
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}

.card:hover {
  filter: none;
}

.cardimg {
  max-height: 150px;
  border-radius: 3px;
}

.removebtn,
.returnbtn {
  font-family: inherit;
  background-color: #37574d;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.7rem;
  padding: 0.4rem 0.6rem;
  box-shadow: 0.5px 0.5px 1px #263b34b3;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.returnbtn {
  font-weight: 600;
  font-size: 0.8rem;
  background: #79947f;
  color: #0c261e;
  margin: 1rem;
}

.removebtn {
  position: absolute;
}

.removebtn:hover {
  background: #133027;
}

.returnbtn:hover {
  background: #4e6a54;
}

.singlecardimg {
  margin: 0.8rem;
  max-width: 300px;
  border-radius: 3px;
}

.textwrap {
  background-color: #2e5045;
  padding: 0.7rem;
  border-radius: 3px;
  margin: 0.5rem 0 0 0;
  box-shadow: 1px 1px 2px #16231fd4;
}

.symbolwrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnminus,
.btnplus {
  font-size: 0.7rem;
  padding: 0.4rem 0.6rem;
  margin: 0 1rem;
  background-color: #65856c;
  box-shadow: 1px 1px 2px #354939c8;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btnminus:hover,
.btnplus:hover {
  background: #133027;
}

.likes {
  margin: 1rem 0.2rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.material-symbols-outlined {
  font-size: 1.1rem;
  font-variation-settings:
    'FILL' 10,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}